{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    
        {% if cartContents is not null %}
        {{ dump(cartContents) }}
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>{{ 'Name'|trans }}</th>
                  <th>{{ 'Description'|trans }}</th>
                  <th>{{ 'Quantity'|trans }}</th>
                  <th>{{ 'cart.price'|trans }}</th> 
                  <th>{{ 'Picture'|trans }}</th>
                </tr>
              </thead>
              <tbody>
                {% for cartContent in cartContents %}
                  <tr>
                    <td><a href="{{ path('one_product', {'id':cartContent.product.id}) }}">{{cartContent.product.name}}</a></td>
                    <td>{{cartContent.product.description}}</td>
                    <td>{{cartContent.quantity}}</td>
                    <td>{{cartContent.product.price * cartContent.quantity}}€</td>
                    <td><img class="img-thumbnail" src="{{asset('/uploads/'~ cartContent.product.picture)}}" style="height:75px;"></td> 
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        {% else %}
            <p>{{ 'cart.empty'|trans }}</p>
        {% endif %}
    {% else %}
        <p>Vous devez etre connecté</p>
    {% endif %}
{% endblock %}
