{% extends 'base.html.twig' %}

{% block title %}{{ 'title.cart'|trans }}{% endblock %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    
        {% if cartContents is not null %}
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>{{ 'Name'|trans }}</th>
                  <th>{{ 'Description'|trans }}</th>
                  <th>{{ 'Quantity'|trans }}</th>
                  <th>{{ 'cart.price'|trans }}</th> 
                  <th>{{ 'Price'|trans }}</th>
                  <th>{{ 'Delete'|trans }}</th>
                </tr>
              </thead>
              <tbody>
              {% set tot = 0 %}
                {% for cartContent in cartContents %}
                  <tr>
                    <td><a href="{{ path('one_product', {'id':cartContent.product.id}) }}">{{cartContent.product.name}}</a></td>
                    <td>{{cartContent.product.description}}</td>
                    <td>{{cartContent.quantity}}</td>
                    <td>{{cartContent.product.price * cartContent.quantity}}€</td>
                    <td>{{cartContent.product.price}}€</td> 
                    <td><a href="{{ path('delete_cart_item', {'id':cartContent.id}) }}"><button type="button" class="btn btn-danger">{{ 'cart.delete'|trans }}</button></a></td> 
                  </tr>
                  {% set tot = tot + cartContent.product.price * cartContent.quantity %}
                {% endfor %}
                </tbody>
              </table>
              <p> {{ 'Total'|trans }} : {{ tot }}€ </p>
              <a href="{{path('buy_cart')}}"><button type="button" class="btn btn-success">{{ 'cart.buy'|trans }}</button></a>
        {% else %}
            <p>{{ 'cart.empty'|trans }}</p>
        {% endif %}
    {% else %}
        <p>{{ 'login.required'|trans }}</p>
        <a href="{{path("app_login")}}">{{ 'login.sign'|trans }}</a>
    {% endif %}
{% endblock %}
