{% extends 'base.html.twig' %}

{% block title %}Page Produit : {{ product.name }}{% endblock %}

{% block body %}
<style>

</style>
<div class="mb-4">
  <h1>{{product.name}}</h1>
  <p>{{ 'product.stock'|trans }} : {{product.stock}}</p>
  <p>{{ 'price'|trans }} : {{product.price}}€</p>
  <img src="{{asset('/uploads/'~ product.picture)}}" class="img-thumbnail" style="height:120px">
</div>
<div class="mb-4">
  <hr>
  <h2>{{ 'cart.add'|trans }}</h2>
</div>

  {{ form_start(form_cart) }}
  {{ form_end(form_cart) }}

</div>
{% endblock %}