{% extends 'base.html.twig' %}

{% block title %}Page Produit : {{ product.name }}{% endblock %}

{% block body %}
<style>

</style>
<div class="mb-4">
  <h1>{{product.name}}</h1>
  <p>{{ 'product.stock'|trans }} : {{product.stock}}</p>
  <p>{{ 'price'|trans }} : {{product.price}}€</p>
  <img src="{{asset('/uploads/'~ product.picture)}}" class="img-thumbnail" style="height:120px">
</div>
<div class="mb-4">
  <hr>
  <h2>{{ 'cart.add'|trans }}</h2>
</div>

  {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    {{ form_start(form_cart) }}
    {{ form_end(form_cart) }}
  {% endif %}

  {% if is_granted("ROLE_ADMIN") %}
    <hr>
    <h2>Modifier un produit</h2>
    {{ form(form_update) }}

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10"><a href="{{path('delete_product', {'id': product.id})}}"><button type="button" class="btn btn-danger">{{ 'product.delete'|trans }}</button></a></div>
    </div>
  {% endif %}

</div>
{% endblock %}