{% extends 'base.html.twig' %}

{% block title %}{{ 'title.admin.user'|trans }}{% endblock %}

{% block body %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}

      <a href="{{ path('admin') }}">{{ 'admin.user.link'|trans }}</a>
      
        {% if allNewUsers is not null %}
          <h1>{{ 'admin.user.title'|trans }}</h1>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'User ID'|trans }}</th>
                <th>{{ 'Registration date'|trans }}</th>
              </tr>
            </thead>
            <tbody>
              {% for user in allNewUsers|reverse %}
                {% if user.createdAt > lastDay %}
                  <tr>
                    <td>{{ user.name }} {{ user.firstname }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.createdAt|date('H:i | d/m/Y') }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
        {% else %}
            <p>{{ 'admin.user.empty'|trans }}</p>
        {% endif %}
    {% else %}
        <p>{{ 'admin.unauthorised'|trans }}</p>
    {% endif %}

<style>
td{
  vertical-align: middle !important
}
</style>
{% endblock %}
