{% extends 'base.html.twig' %}

{% block title %}{{ 'title.myCart'|trans }} {{app.user.name}}{% endblock %}

{% block body %}
    {{form(update_form)}}
    {% for cart in carts %}
        <span><a href="{{ path('details', {'id':cart.id}) }}">{{ cart.id }}</a></span>
        <span>{{cart.purchaseDate|date('Y-m-d')}}</span>
        {% set tot = 0 %}
        {% for product in cart.cartContents %}
            {% set tot = tot + product.quantity * product.product.price%}
        {% endfor %}
        <span>{{tot}}</span>
    {% endfor %}
{% endblock %}
